/* Font family */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-header: border-box;
}

/* Body styles */
body {
  font-family: "Poppins";
  color: purple;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #f2e6ff;
}

h3 {
  font-family: "Poppins";
  color: #302b63;
  margin-bottom: 40px;
  text-align: center;
}

h1 {
  display: flex;
  font-family: "Poppins";
  color: #302b63;
}

.generate {
  background-color: #1b4465;
  box-shadow: 0 5px 5px #24243e;
  margin: 30px auto 20px;
}

.generate:hover {
  background-color: #0f3859;
}

  text-align: center;
}

h1 {
  display: flex;
  font-family: "Poppins";
  color: #302b63;
}

.generate {
  background-color: #1b4465;
  box-shadow: 0 5px 5px #24243e;
  margin: 30px auto 20px;
}

.generate:hover {
  background-color: #0f3859;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  margin: 20px auto 0;
  width: 100%;
  max-width: 600px;
  padding: 20px 40px 40px;
  background-color: #d9d6cc;
  border-radius: 10px;
  box-shadow: 0 10px 20px black;
}

label {
  margin-left: 38px;
  margin-bottom: 10px;
  color: #302b63;
}

form input,
button {
  width: 100%;
  max-width: 130px;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  margin: auto;
  background-color: #b4acb8;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 5px 5px #a599ab;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

form button {
  color: #fff;
  background-color: #1b4465;
  margin-top: 30px;
}

form button:hover {
  background-color: #062742;
}

form input {
  max-width: 500px;
  color: #000;
}

/* Result styles */
.success {
  color: #00cc00;
}

.failed {
  color: #ff0000;
}

#result h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

#result {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

#result pre {
  width: 100%;
  max-width: 800px;
  padding: 40px;
  border-radius: 10px;
  background-color: #d9d6cc;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 10px 20px black;
  overflow-y: scroll;
}

form input:focus {
  outline: none;
  background-color: #101010;
  box-shadow: 0 10px 20px black;
}

body {
  font-family: Helvetica;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}
.site-header {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

.site-header::after {
  content: "";
  display: table;
  clear: both;
}

.site-identity {
  float: left;
}

.site-identity h1 {
  font-size: 1.5em;
  margin: 0.7em 0 0.3em 0;
  display: inline-block;
  color: #fff;
}

.site-identity img {
  max-width: 55px;
  float: left;
  margin: 0 10px 0 0;
}

.site-navigation {
  float: right;
}

.site-navigation ul,
li {
  margin: 0;
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}

